footer {
    background-color: #212121;
    color: #fff;
    padding: 30px 40px 10px;
    border-top: 1.5px solid #DA6015;
    box-shadow: 0px -4px 12px -2px rgba(204, 136, 51, 0.4);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo-section {
    flex: 1 1 200px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 200px;
    margin-top: 50px;
}

.footer-logo {
    width: 200px;
}

.footer-links-section {
    flex: 1 1 200px;
    margin-right: 100px;
}

.footer-company-section {
    flex: 1 1 200px;
    margin-right: 300px;
}

footer h4 {
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #DA6015;
    text-transform: uppercase;
}

footer a {
    color: #9e9781;
    display: block;
    margin: 5px 0;
    text-decoration: none;
    transition: color 0.5s ease-in-out, text-shadow 0.1s ease-in-out;
}

footer a:hover {
    color: #DA6015;
}

.footer-bottom-message {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 0.9rem;
    color: #ccc;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}